* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

p,
a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    padding: 20px 0;
    background-color: #fff;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.ul {
    display: flex;
    align-items: center;
    gap: 50px;

    a {
        color: #000;
        font-size: 18px;
    }
}

.img_hover {

    

}

.section {
    padding: 100px 0;
    background-color: #000;
    border-top: 5px solid royalblue;
    border-bottom: 5px solid royalblue;
}

.section__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 30px;
}

.card {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    gap: 30px;

    width: 400px;
    height: 500px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    /* background-color: #000;
    color: #ff0000;
    overflow: hidden; */

    background-image: url(https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExd3pra3g4bDR3eGlpbDJucHVzNmc1dnpxc3NmaHJmMG1uZjJrMzNzdCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/U4AkiaxuWlsmUc1qK1/giphy.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    color: #000;
    overflow: hidden;

    img {
        width: 300px;
        transition: all 1s;
        &:hover {
            scale: 1.1;
        }
    }
}

.btn {
    width: 200px;
    padding:0px 0;
    margin: 10px 80px;
    border-radius: 10px #ff0000;
    border: 1px solid #000;
    color: #ff0000;
    font-size: 18px;
    font-weight: 600;
    transition: all 1s;
    &:hover {
        background-color: #fff;
        color: #000;
    }
}