* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  title {
    color: aqua;
  }
  
  body {
    background-color: #ffffff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  
    height: 100%;
  }
  
  *::selection {
    background-color: black;
    color: red;
  }

  img {
    width: 100%;
  }
  
  button {
    border: none;
    border-radius: none;
    background-color: white;
    
  }
  
  a {
    color: black;
  }
  
  .container {
    width: 100%;
  
    margin: 0 auto;
  
    padding: 0 15px;
  }
  
  .container1,
  .container2 {
    max-width: 950px;
  }
  
  .container {
    nav {
      display: flex;
  
      justify-content: space-between;
      align-items: center;
  
      height: 80px;
  
      background-color: #ffffff;
  
      border-bottom: 1px solid #828282;
  
      a {
        transition: 0.2s;
  
        color: #828282;
  
        font-size: 18px;
        line-height: 1.2;
  
        &:hover {
          color: black;
        }
      }
    }
  }
  
  .denis-block {
    display: flex;
  
    justify-content: space-between;
    align-items: center;
  
    height: 190px;
  
    h2 {
      width: 123px;
  
      font-size: 47px;
      line-height: 1.2;
    }
  
    span {
      padding: 23px 0 0 0;
  
      width: 155px;
      height: 45px;
  
      font-size: 18px;
    }
  
    .languge-chooser {
      rotate: -90deg;
  
      display: flex;
  
      justify-content: space-between;
      height: 17px;
  
      button {
        color: #828282;
        font-weight: 900;
  
        &:active {
          color: black;
        }
      }
  
      hr {
        background-color: black;
        margin: 5px;
  
        border: none;
        width: 2px;
        height: 14px;
      }
    }
  }
  
  .denis-img {
    margin: 0 0 105px 0;
  }
  
  .container3 {
    padding: 0;
    margin: 0 auto;
    width: 100%;
  
    .about-me-block span:nth-child(4) {
      width: 440px;
    }
  
    .about-me-block span:nth-child(3) {
      width: 440px;
    }
  
    .about-me-block span:nth-child(2) {
      width: 480px;
    }
    .about-me-block {
      display: flex;
  
      flex-direction: column;
      align-items: center;
  
      margin: 0 auto;
  
      height: 510px;
  
      background: #f6f6f6;
      width: 100%;
  
      h2 {
        margin: 120px 0 17px 0;
  
        font-weight: 700;
      }
  
      span {
        margin: 0 0 35px 0;
        width: 450px;
  
        text-align: center;
        font-weight: 600;
        font-size: 18px;
      }
    }
  }
  
  .container4 {
    .skills {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
  
      height: 610px;
  
      width: 100%;
  
      padding: 90px 0 110px 0;
  
      h2 {
        font-size: 34px;
  
        margin: 0 0 70px 0;
      }
  
      span {
        font-size: 18px;
        text-align: center;
  
        margin: 0 0 85px 0;
      }
    }
  }
  
  .skills-img-block {
    display: flex;
  
    flex-direction: row;
  
    justify-content: space-between;
    align-items: center;
  
    width: 850px;
  }
  
  .skills-img-block img {
    width: 165px;
    height: 205px;
  }
  
  .container5 {
    padding: 0;
  
    .skills {
      display: flex;
  
      flex-direction: column;
      align-items: center;
  
      background: #f6f6f6;
      height: 2250px;
  
      h2 {
        font-size: 34px;
  
        text-align: center;
  
        margin: 45px 0 115px 0;
      }
  
      a {
        font-size: 18px;
  
        text-align: center;
        margin: 45px 0 100px 0;
      }
  
      img {
        width: 935px;
        height: 510px;
      }
    }
  }
  
  .container6 {
    margin: 0 auto;
  
    .footer-block {
      text-align: center;
  
      display: flex;
  
      flex-direction: column;
      justify-content: center;
  
      align-items: center;
  
      width: 100%;
      width: 350px;
      height: 320px;
  
      margin: 120px auto 0 auto;
  
      .contacts {
        h2 {
          font-size: 34px;
          margin: 0 0 15px 0;
        }
  
        span {
          font-size: 18px;
          text-align: center;
  
          margin: 0 0 20px 0;
        }
  
        button {
          display: block;
  
          width: 180px;
          height: 40px;
  
          margin: 20px auto 85px auto;
  
          font-size: 19px;
          font-weight: 700;
  
          background-color: black;
          color: white;
  
          border-radius: 50px;
        }
      }
  
      .social-m {
        display: flex;
  
        margin: 0 0 40px 0;
  
        flex-direction: row;
        align-items: unset;
  
        justify-content: space-between;
  
        width: 110%;
  
        img {
          width: 40px;
        }
      }
  
      p {
        color: #828282;
  
        text-align: center;
  
        font-size: 14px;
        width: 240px;
  
        margin: 0 0 120px 0;
      }
    }
  }
  
  .span-footer {
    margin: 0 0 20px 0;
  }